
		
		.hoja section .login_tutor{
			margin: auto;
			padding-top: 40px;
			width: 400px;
		}
		.hoja section .login_tutor .login_tutor_titulo{
			text-align: center;
		}
		.hoja section .login_tutor .login_tutor_formulario{
			border: 1px solid;
			border-color: rgb(200, 200, 200);
		}
		.hoja section .login_tutor .login_tutor_formulario .nota{
			width: 200px;
			padding-left: 15px;
		}
		.hoja section .login_tutor .login_tutor_formulario .envio{
			text-align: right;
			padding-bottom: 30px;
			padding-right: 40px;
		}
		.hoja section .login_tutor .login_tutor_formulario .contenido{
			text-align: right;
			padding-top: 60px;
			padding-bottom: 60px;
			padding-right: 75px;
		}
		.hoja section .login_tutor .login_tutor_formulario .contenido label{
			margin-right: 20px;
		}


		.hoja section .login_tutor button:hover{
			color: rgb(255, 192, 0);
		}
		.hoja section .login_tutor a:link{
			color: rgb(64, 64, 64);
		}
		.hoja section .login_tutor a:visited{
			color: rgb(64, 64, 64);
		}
		.hoja section .login_tutor a:hover{
			color: rgb(255, 192, 0);
		}
		.hoja section .login_tutor a:active{
			color: rgb(255, 192, 0);
		}

